/*css for twiddler*/

body{
  background-color: #1b2631;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.newsfeed {
	border-width: .5px;
	border-style: outset;
	border-color: #d8e6f3;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
	flex-direction: column;
	width: 450px;
	background-color: #1f2c3a;
	color: #ffffff;
	
}

.tweet {
	
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: center;
	width: 420px;
	height: 100px;
	padding-left: 15px;
	padding-right: 15px;
	color: #ffffff;
    /*color: #b3b3b3;*/
}

.tweet:hover {
	background: #1b2631;
}

.date {
  color: #b6bec6;
  font-style: italic;
}

.message {
  margin: 5px 0px 5px 0px;
}

h2 {
  margin-top: 5px;
  margin-left: 18px;
}

i {
  margin: 20px 0px 0px 20px;
  font-size: 300%;
}


a:link {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #b3b3b3;
}